.header__logo{
    width: 100px;
    height: 14px;
}

.logo__phone{
    height: 14px;
    width: 14px;
}

.phone-title{
    color: #A9C5E0;
}

.info__title{
    color: #A9C5E0;
}

.main-page__header{
    background: linear-gradient(#2B5377, #33638F);
    height:  800px;
    width: 100%;
}

.main-page__header-menu__content{
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 230px;
}

.main-page__header-menu{
    width: 100px;
}

.header-menu__info{
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.header-menu__form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;

}

.form__info-phone{
    display: flex;
    justify-content: space-between;
    width: 130px;
}