.tablePage__content-title {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  color: #2A496B;
  margin: 7% 0 10% 0;
}
.first-row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10%;
}
.second-row {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}
.block__title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10%;
}
.block__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14%;
}
.block__subtitle {
  text-align: center;
  width: 99%;
  line-height: 19px;
  font-size: 15px;
}
/*--------------------------------------------------------------*/
@media screen and (max-width: 820px) {
  .tablePage__content-title {
    padding: 96px 15px;
  }
}
@media screen and (max-width: 800px) {
  .block {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .block {
    width: 100%;
  }
}
