.form__info-button {
  width: 45%;
}
.form__info-button button {
  border: #E5E31F solid 1px;
  color: #E5E31F;
  border-radius: 10px;
  height: 52px;
  width: 170px;
  font-size: 18px;
  line-height: 100%;
}
